.settingWindow{
    width: 90%;
    height: 90%;
    position: fixed;
    z-index: 9;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: white; 
    transition: 0.5s;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.setBlock{
    padding-left: 5%;
    font-size: 22px;
    height: 35px;
    width: 100%;
    border-radius: 10px;
    width: 70%;
    margin-left: 1%;
    margin-top: 5%;
}
.close-setting-window{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 999;
    font-size: 30px;
    border-radius: 40px;
    height: 40px;
    border: none;
    text-align: right;
    color: white;
}
.custom-checkbox {
	cursor: pointer;
	line-height: 24px;
    position: absolute;
	right: 0;
}
.custom-checkbox input {
	position: absolute;
	left: -9999px;
}
.custom-checkbox-button {
	display: inline-block;
	margin: 0 15px;
	width: 50px;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.5);
	height: 24px;
	position: relative;
	bottom: -4px;
	cursor: pointer;
}
.custom-checkbox-button:before {
	background: #fff;
	content: "";
	width: 26px;
	height: 26px;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: -1px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(44, 77, 138, 0.3), 0px 7px 8.55px 0.45px rgba(22, 44, 84, 0.15);
	        box-shadow: 0px 0px 1px 0px rgba(44, 77, 138, 0.3), 0px 7px 8.55px 0.45px rgba(22, 44, 84, 0.15);
	-webkit-transition: 0.2s;
	        transition: 0.2s;
}
.custom-checkbox-button:after {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	background: #707070;
	border-radius: 50%;
	top: 6px;
	left: 6px;
	-webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
	        box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
	-webkit-transition: 0.2s;
	        transition: 0.2s;
}
.custom-checkbox.checked .custom-checkbox-button:before {
	left: 25px;
}
.custom-checkbox.checked .custom-checkbox-button:after {
	left: 32px;
	background: #1967c3;
}
.dark-theme-setting-window{
    background-color: gray;
}
.light-theme-setting-window{
    background-color: #6cace6;
}
.hidden {
    opacity: 0;
    visibility: hidden; /* Скрыть элемент */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Переход для анимации */
}

.visible {
    opacity: 1;
    visibility: visible; /* Показать элемент */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Переход для анимации */
}
