.notificationsWindows{
    width: 90%;
    height: 90%;
    position: fixed;
    z-index: 9;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: 0.5s;
}
.notificationsWindows p{
    text-align: center;
}
.close{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 999;
    font-size: 30px;
    border-radius: 40px;
    height: 40px;
    border: none;
    text-align: right;
    color: white;
}
.dark-theme-notificationsWindows{
    background-color: gray;
}
.light-theme-notificationsWindows{
    background-color: #6cace6;
}