.centerButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 75px;
  text-align:center;
  font-size: 110px;
}
.tree{
    width: 150px;
    height: 150px;
}
.dark-theme-central-btn{
    background-color: #efefef
}
.light-theme-central-btn{
    background-color: #2582cb;
    color: white;
}